@import '../../../styles/index.module.less';

.silder_box {
  width: 250px;
  height: calc(100vh - 70px);
  margin-top: 70px;
  color: #fff;
  background: #000;

  .icon_box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;

    .icon_font {
      font-size: 24px;
      font-weight: bold;
      color: #fff;
    }
  }

  .menu_box {
    flex: 1;
    overflow: auto;
  }
}
