@import '../../../../../styles/index.module.less';

.menu_component_container {
  // padding: 12px;
  color: #fff;

  .menu_item {
    font-size: 20px;

    .menu_line {
      margin: 12px;
      border-bottom: 1px solid #555;
    }

    .menu_item_title {
      display: flex;
      align-items: center;
      padding: 12px;

      .title_icon {
        display: flex;
        align-self: center;
        width: 20px;
        height: 20px;
        margin-right: 20px;
        font-size: 24px;
      }

      .title_text {
        font-size: 16px;
        color: #acacac;
      }
    }

    .menu_item_cell:hover {
      background: #cccccc1f;
    }

    .menu_item_cell {
      display: flex;
      align-items: center;
      padding: 10px 12px;

      .cell_icon {
        display: flex;
        align-self: center;
        width: 20px;
        height: 20px;
        margin-right: 12px;
        font-size: 20px;
      }

      .cell_text {
        font-size: 16px;
        text-align: left;
      }
    }
  }

  .menu_item_cell_active {
    position: relative;
    color: @active-text-color;
  }

  .menu_item_cell_active::before {
    position: absolute;
    left: 0;
    width: 4px;
    height: 24px;
    content: '';
    background: @active-text-color;
  }
}
