.header_container {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 0 12px;
  height: 70px;

  .right_container {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;

    .user_container {
      display: flex;
      align-items: center;
      padding: 12px;
      font-size: 20px;
    }
  }

  .item_container {
    margin-right: 12px;
  }
}
