@import '../styles/index.module.less';

.layout_container {
  .center_container {
    height: calc(100vh - 70px);
    margin-top: 70px;
    overflow: auto;
    background: @background-page-color;
  }

  .right_container {
    .router_container {
      flex: 1;
      overflow: auto;
      border-radius: 12px;
    }
  }
}
