.layout_container {
  .silder_container {}

  .header_container {}

  .center_container {
    margin-top: 70px;
  }

  .right_container {
    .router_container {
      flex: 1;
      overflow: auto;
      border-radius: 12px;
    }
  }
}